nav {
  background-color: rgb(0, 0, 0);
  margin-bottom: 0%;
  border: none;
}

.navbar-brand {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(146, 224, 238);
  padding-left: 250px;
  font-weight: bold;
}

.navbar-right {
  margin-right: 3px;
  padding-top: 10px;
  font-size: 20px;

}

li {
  display: inline;
  padding-right: 40px;
  color: rgb(135, 237, 255);
}

a {
  color: rgb(135, 237, 255);
}
