ul {
    display: flex;
}
li {
    list-style: none;
}
a {
    color: black;
}
.footer .content {
    display: flex;
    justify-content: space-between;
}
@media(max-width:768px) {
    .footer .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}