<hr class ="hr5">
<div class = "about">
  <h1>About Me</h1>
  <img class = "img-fluid memoji"src="../../assets/memoji.png" alt="">
  <p>Hey there! I'm Bri and I'm a student at Western Governor's University completing my bachelor's degree in software development. I have a certificate from Western Kentucky University in game design and am also completing a full-stack developers program with Codefi CodeLabs. <br><br> When I'm not studying, you can find coding away working on personal projects like website design or raspberry pi mods. In the rare event that I'm completely away from my computer, I'm stretching my creative side through photography or acrylic pouring. <br></p>
  <p class = "motto"> Life Motto: Pivot and Press On</p>
</div>