<!-- <hr class ="hr5"> -->
<div class = "about px-5">
  <div class="container-1400 mt-5">
    <h2>Work Experience</h2>
    <div class="row">
      <div class="col-lg-6 mb-3 mx-auto">
          <div class="work-card">
            <div class="logo">
              <img src="../../assets/images/csi.png" alt="">
            </div>
            <div class="content">
              <h3>CSI</h3>
              <p>Builds out custom sites, components, and plugins based on client needs using PHP, HTML, CSS, Javascript.</p>
              <a href="#">Read More</a>
            </div>
          </div>
      </div>
      <div class="col-lg-6 mb-3 mx-auto">
        <div class="work-card">
          <div class="logo">
            <img src="../../assets/images/logo-codefi.png" alt="">
          </div>
          <div class="content">
            <h3>Codefi</h3>
            <p>Implements responsive design and routing features to enhance user experience. </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto mb-3">
        <div class="work-card">
          <div class="logo">
            <img src="../../assets/images/Apple-Logo.png" alt="">
          </div>
          <div class="content">
            <h3>Apple</h3>
            <p>Demonstrated flexibility to rotate through different technical specialties and skill sets.</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- END WORK EXPERIENCE -->
    <h2>Education</h2>
    <div class="row">
      <div class="col-lg-6 mx-auto mb-3">
        <div class="work-card">
          <div class="logo">
            <img src="../../assets/images/wku-logo.png" alt="">
          </div>
          <div class="content">
            <h3>Western Kentucky University</h3>
            <p>Certifcate - Game Design</p>
            <p>May 2021</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
       <div class="col-lg-6 mx-auto mb-3">
        <div class="work-card">
          <div class="logo">
            <img src="../../assets/images/wgu.png" alt="">
          </div>
          <div class="content">
            <h3>Western Governors University</h3>
            <p>Bachelor of Science - Software Engineering</p>
            <p>January 2024</p>
            <a href="#">Read More</a>
          </div>
        </div>
       </div>
        <div class="col-lg-6 mx-auto mb-3">
          <div class="work-card">
            <div class="logo">
              <img src="../../assets/images/logo-codefi.png" alt="">
            </div>
            <div class="content">
              <h3>Codefi: Code Labs</h3>
              <p>Full Stack Developers Bootcamp</p>
              <p>May 2022</p>
              <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END EDUCATION -->
  </div>