.polaroid {
  background-color: rgb(48, 48, 48);
}

.polaroid a {
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
  border: 1px solid black;
  background-color: white;
  margin-left: 20%;
}

.polaroid a:after {
  color: rgb(253, 253, 253);
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.polaroid img {
  display: block;
  width: 250px;
  background-color: white;
  border: 2px solid rgb(105, 105, 105);
}

.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.7);
}

h1 {
  color: aliceblue;
  padding-top: 100px;
  display: flex;
  padding-left: 100px;
}

.about-me {
  justify-content: center;
  display: flex;
}
