.about {
  background: url("../../assets/images/Blue-circle-background-3.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
}
.about:before {
  content: "";
  top: 0;
  width: 100%;
  height: 200px;
  left: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8379726890756303) 35%, rgba(255,255,255,0) 100%);
}
.about:after {
  content: "";
    bottom: 0;
    width: 100%;
    height: 200px;
    left: 0;
    position: absolute;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8379726890756303) 35%, rgba(255,255,255,0) 100%);
}
.container-1400 {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.about h2 {
  text-align: left;
  position: relative;
  font-family: "MyFont";
}
h1 {
  color: rgb(135, 237, 255);
  padding-top: 100px;
}
.about {
  text-align: center;
  margin-bottom: 5rem;
}
.motto {
  font-weight: bold;
  font-size: 2.5vh;
  color:rgba(196, 248, 255);
}
.coding {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  height: 40vh;
}

.hr5 {
  border: 0;
  border-top: medium double #ccc;
  height: 1px;
  overflow: visible;
  padding: 0px;
  color: #ccc;
  text-align: center;
  margin-top: 100px;
  opacity: 1;
  z-index: 1;
  position: relative;
}

.hr5::after {
  content: "Clicky Keyboard Or I Send It Back";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 1.3em;
  background: linear-gradient(#ff00a8,#00abff);
  color: antiquewhite;
  font-family: "MyFont";
  opacity: 1;
  text-shadow: 0px 1px 3px #5a007e;
}
.work-card {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  min-height: 225px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 2
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 110px;
}
.content {
  text-align: left;
}
.content h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px; /* 125% */
  font-family: "MyFont";
}
.content a {
  position: absolute;
  bottom: 0;
  margin-block: 1rem;
  background: transparent linear-gradient(165deg, #a53bff 0%, #dc0fb7 100%) 0% 0% no-repeat padding-box;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-family: "MyFont";
  text-shadow: 0px 1px 3px #5a007e;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
         


@media (max-width:600px) {
  .h5 {
    padding-top: 50px;
  }
  .hr5::after {
    font-size: 1.5rem;
  }
  p{
    font-size: 1rem;
  }
  .motto {
    font-size: 1.25rem;
  }
  .memoji {
    max-width: 200px;
    height: auto;
  }
}