
 <div id="projects" class="projects px-5">
  <h3 class="text-center">Featured Projects</h3>
  <div class="container-1600">
    <div class="row mb-5" *ngFor="let project of projectList">
      <div class="col-lg-6">
        <div class="content">
          <p class="featured">Featured Project</p>
          <p class="project-name">{{project.name}}</p>
          <p class="project-about">{{ project.about }}</p>
          <p class="skills">Skills: {{project.programs}}</p>
          <a href="{{project.url}}">View the Project</a>
        </div>
      </div>
      <div class="col-6">
        <div class="img-wrapper">
          <img class="project-image" src="{{project.image}}" alt="">
        </div>
      </div>
    </div>
  </div>
 </div>
