#projects {
  margin-top: 5rem;
}
img {
  max-width: 90%;
  height: 330px;
  box-shadow: 14px 12px 0px 0px #e562be;
  position: relative;
  border: 0.1px solid #e562be;
  border-radius: 16px;
}
.container-1600 {
  max-width: 1200px;
  margin: auto;
}
.projects {
  margin-top: 3rem;
}
.col-lg-6:has(.content) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  margin-left: 2rem;
  margin-right: -7rem;
  z-index: 2;
  border-radius: 16px;
  background-blend-mode: soft-light, normal;
  backdrop-filter: blur(25px);
  padding: 2rem;
  box-shadow: 0 5px 30px 0 #6c757d;
  border: 0.1px solid transparent;
}
.project-name {
  font-size: 2rem;
  font-family: "MyFont";
  font-weight: bold;
}
.content p {
  line-height: 1;
}
.featured {
  font-size: 1.125rem;
  font-weight: bold;
  color: #8c0dff;
}
h3 {
  font-family: "MyFont";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 2rem;
}
a {
  background-image: linear-gradient(to right, #da0078 0%, #8c0dff  51%, #00abff  100%);
  margin: 10px;
  padding: .25rem .75rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
  max-width: fit-content;
  font-size: .875rem;
  text-decoration: none;
  text-shadow: 0px 1px 3px #5a007e;
}

a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
@media(max-width: 992px) {
  img {
    height: 100%;
    margin: auto;
    display: flex;
  }
  .content {
    margin: 0;
    text-align: center;
  }
  .row {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .col-6 {
    width: 100%;
  }
}
@media(max-width:568px) {
  .project-name {
    font-size: 1.5rem;
  }
  a {
    margin: auto;
  }
  .content {
    padding: 1rem;
    margin-top: 2rem;
  }
  img {
    height: 250px;
    object-fit: cover;
    width: auto;
  }
}