<div class="scallop-up"></div>
<div class="main">
  <h1>Projects</h1>
  <div class="container">
    <div class="box">
      <div class="row">
        <div
          class="col-lg-6"
          *ngFor="let project of projectList; let i = index"
        >
          <div class="card">
            <a href="{{ project.url }}">
              <img class = "program" src="{{ project.image }}" alt="" />
            </a>
            <div class="card-body">
              <p class="card-text">{{ project.about }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="program">
                  <div class="row">
                    <div class="item">
                      <p class = "item">{{project.programs}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="scallop-down"></div>
